body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 20px 0;
    margin-bottom: 20px;
}

.container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    margin: 0;
    font-size: 24px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav li {
    margin-left: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

nav a:hover {
    text-decoration: underline;
}

section {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input, textarea, select, button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    font-size: 16px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#results {
    margin-top: 20px;
}

.poll-options-container {
  display: flex;
  justify-content: space-between;
}

.poll-option-button {
  margin: 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50;
  color: #fff;
  cursor: pointer;
}

.poll-option-button:hover {
  background-color: #3e8e41;
}

.poll-option-button:disabled {
  background-color: #ccc;
  color: #666;
  cursor: default;
}

.poll-option-button:disabled:hover {
  background-color: #ccc;
}

#poll-chart {
    max-width: 300px;
    margin: 20px auto;
}

#poll-line-chart {
    max-width: 400px;
    margin: 20px auto;
}

#additional-stats {
    margin-top: 20px;
    font-weight: bold;
    color: #555;
}